.container{
    background-color: antiquewhite;
    border-radius: 15px;
    padding:18px;
    text-align: center;
    box-shadow: 0 8px 6px -6px black;
      position: relative;
      max-width: 918px;
      margin: 0 auto;
      margin-top: 100px;
      border-style: groove;
      height: 500px;
  }